html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body{
	color: black;	
	letter-spacing: 1px;
	height: 100%;
}
p{
	font-size: 15px;
	font-style: sans-serif;
	line-height: 1.5; 
	height: 100%;
}
.content{
		padding: 0 10%;
		height: 100%;
}
img{
	padding: 10% 20% 0 20% ;
}


.timline{
	position: relative;
	margin: 20% auto;
	width: 100%;
	padding: 0 20px;
	height: 100%;
}
.timeline:before{
	content: '';
	position: absolute;
	left: 2%;
	top:70px;
	width: .5%; 
	height: 100%;
	background:darkblue;
}
.timeline ul{
	margin:0;
	padding: 0;
	height: 100%;
}
.timeline ul li{
	line-height: normal;
	list-style: none;
	position: relative;
	left: 2%;
	width: 90%;
	padding: 1%;
	box-sizing: border-box;
	display: flex;
	height: 100%;
}
p:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: black;
	left: -15px; 
	top: 50%;
}
.title{
	font-weight: 700;
	float: left;
	font-size: 60px;
}
@media only screen and (max-width: 767px)
{
	.timline
	{
		width: 100%;
	}

	.timeline:before{
		left:20px;
		height:100%;
	}

	.timeline ul li{
		display: block;
		width: 100%;
	}
	p{
		left: 16px;
	}
	p:before{
		left: -5px;
	}
}